body {
    margin: 0;
    font-family: 'Raleway';
}

/*
    Colors
 */

.blue__gradient {
    background: rgb(9,9,121);
    background: linear-gradient(145deg, rgba(9,9,121,1) 2%, rgba(0,212,255,1) 87%);
}

.green__gradient {
    background: rgb(16,237,225);
    background: linear-gradient(145deg, rgba(16,237,225,1) 0%, rgba(0,255,117,1) 53%);
}

.orange__gradient {
    background: rgb(236,152,20);
    background: linear-gradient(145deg, rgba(236,152,20,1) 0%, rgba(255,173,0,1) 78%);
}

.yellow__gradient {
    background: rgb(218,221,27);
    background: linear-gradient(145deg, rgba(218,221,27,1) 19%, rgba(251,255,0,1) 74%);
}

.banner__gradient {
    background: rgb(242,135,48);
    background: linear-gradient(90deg, rgba(242,135,48,1) 0%, rgba(249,99,95,1) 38%, rgba(253,67,136,1) 100%);
}

.blue {
    background: blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green {
    background: rgb(16,237,225);
    background: linear-gradient(145deg, rgba(16,237,225,1) 0%, rgba(0,255,117,1) 53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange {
    background: rgb(236,152,20);
    background: linear-gradient(145deg, rgba(236,152,20,1) 0%, rgba(255,173,0,1) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow {
    background: rgb(218,221,27);
    background: linear-gradient(145deg, rgba(218,221,27,1) 19%, rgba(251,255,0,1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*
    Top Nav
 */

.nav__container {
    height: 10vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav__logo {
    height: 60px;
    width: 100px;
    padding: 10px 20px;

    cursor:pointer;
}

.nav__left {
    width: 10%;
}

.nav__middle {
    width: 50%;
    display: flex;
}

.nav__input {
    padding:5px 5px;
    height: 2vh;
    width: 30%;
    border:2px solid #377771;
    margin-left: 10%;
    margin-top: 4vh;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nav__btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    border: solid 2px #ECECEE;
    border-radius: 3px;

    color: #707070;
    background-color: #FFF;

    height: 5vh;
    width: 45%;

    font-size: 13px;
    font-weight: bold;
    transition: 0.4s ease-in-out;

    cursor: pointer;

    margin-top: 3vh;
}

.nav__btn:hover.signup {
    border: solid 2px #4ce0b3;
    transition: 0.4s ease-in-out;
}

.nav__btn:hover.login {
    border: solid 2px #ed6a5e;
    transition: 0.4s ease-in-out;
}

.nav__right {
    width: 30%;
    margin-left: 10%;
}

.nav__auth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.auth {
    margin-right: 30px;
    width: 23%;
    text-align: center;
}

.body__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
}

/*
    Left Nav
 */
.left__nav {
    width: 8%;
    height: 90vh;

    display: flex;
    flex-direction: column;

    border-top: 2px solid #F3F3F3;
}

.leftnav__icon {
    height: 4vh;
    margin-top: 20%;

    padding: 20% 20%;
}

.icon {
    height: 80%;
    width: 60%;
    margin-left: 20px;
}

/*
    Information / Result Container
 */
.information {
    width: 92%;
    height: 90vh;
    background-color: #F3F3F3;
}

.key__information {
    height: 20vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 16%;
    height: 8vh;

    padding: 20px 10px;
    margin-left: 5%;
    margin-top: 2.5%;

    background-color: white;
    transition: 0.4s ease-out;

    border: 1px solid #ccc;
    border-radius: 2px;

    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.2s ease-out;
}


.card__container {
    margin-top: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card__title {
    margin-left: 10px;
}

.card__amount {
    margin-left: 40px;
}

.dot {
    margin-left: 20px;
    height: 7vh;
    width: 23%;
    border-radius: 50%;
    display: inline-block;
}

/*
    Banner styles
 */

.banner {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 94%;
    height: 12vh;

    margin-top: 2%;
    margin-left: 2.7%;

    display: flex;
    flex-direction: row;
}

.banner__dot {
    height: 7vh;
    width: 5%;
    border-radius: 50%;
    display: inline-block;

    margin-top: 3vh;
    margin-left: 2%;
}

.banner__cta {
    color: white;
    margin-top: 2vh;
    margin-left: 2%;
}

.banner__header {
    font-size: 18px;
    font-weight: bold;
}

.banner__para {
    font-size: 14px;
}

.banner__btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    border: solid 1px transparent;
    border-radius: 4px;

    padding: 0.5em 1em;

    color: #929292;
    background-color: #FFFFFF;

    margin: 3vh 0 2px 43%;
    height: 6vh;
    width: 20%;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.4s ease-out;
}

.banner__btn:hover {
    transform: translateY(-5px);
    transition: .2s ease-out;
}

/*
    Jobcard styles
 */

.jobcard__container {
    height: 45vh;
    width: 93%;

    margin-top: 1%;
    margin-left: 3.5%;

    display: flex;
    flex-direction: column;
}

.jobcard__header {
    height: 10vh;
    width: 100%;
    color: #797979;
}

.jobcard__title {
    font-size: 20px;
    letter-spacing: .5px;
}

.jobcard__desc {
    top: -20px;
    font-size: 13px;
}

.jobcard__cards {
    width: 100%;
    height: 35vh;

    display: flex;
    flex-direction: row;
}

.job__card {
    height: 35vh;
    width: 33%;

    margin-top: 2vh;

    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: 0.4s ease-out;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.job__card:not(:nth-child(1)) {
    margin-left: 3%;
}

.job__card:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
}

.job__logo {
    height: 10vh;
    width: 27%;

    padding: 5px 5px;
}

.logo {
    height: 8vh;
    width: 100%;

    margin-top: 10px;
    margin-left: 25%;
}

.job__title {
    margin-left: 7%;
    margin-top: 2vh;

    color: #5A5A5A;
}

.job__company {
    margin-top: -1vh;
    margin-left: 7%;

    font-size: 13px;
}

.job__location {
    font-size: 10px;
    letter-spacing: 1px;

    margin-top: -1%;
    margin-left: 7%;
}

.job__info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
}

.job__moreinfo {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    border: solid 2px #DD8CA7;
    border-radius: 3px;

    color: #DD8CA7;
    background-color: #FBE6DD;

    height: 5vh;
    width: 45%;

    font-size: 13px;
    font-weight: bold;

    cursor: pointer;

    margin-top: 2vh;
    margin-left: 7%;
}

.job__postdate {
    margin-left: 15%;
    margin-top: 4vh;

    font-size: 12px;
}
